@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  font-size: 3em;
  text-align: center;
  margin: 0;
}

header {
  background-color: #ffe500;
  margin: 0;
}

nav ul {
  list-style-type: none;
  font-size: 1.125rem;
  text-align: center;
  padding: 0;
}

nav li {
  display: inline;
}

nav a {
  text-decoration: none;
  display: inline-block;
  background-color: #b2a212;
  border-radius: 4px;
  color: #fff;
  margin: 0 0 .2em;
  padding: 9px;
  font-weight: normal;
}

main h2 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  text-align: left;
  font-size: 1.875rem;
}

footer {
  background-color: #ffe500;
  text-align: center;
  font-family: Georgia;
  padding: 10px;
  margin: 0;
  padding-bottom: 19px;
}

main p {
  font-family: Georgia;
  font-size: 1em;
  line-height: 1.5;
  color: #2f2d13;
}

.nav .current {
  background-color: #b20953;
}

body {
  margin: 0;
}

main {
  margin: 1em;
}

.nav {
  margin-top: 0;
  padding-bottom: .3em;
}

img {
  width: 100%;
  display: block;
  padding-bottom: 0;
}

a:hover {
  background-color: #cc1465;
}
